$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}






button:disabled {
  opacity: 0.8;
}

body {
  padding: 0;
}

#header {
  height: 44px;
  background: #333333;
  
  p {
    padding: 4px 0 0 0;
    text-align: center;
    font-size: 25px;
    color: #ffffff;
  }
  
  button,input {
    width: 40px;
    height: 40px;
    margin: 2px;
    float: right;
  }
}

#tasks {
  padding: 0;;
  // margin: 0 44px 0 0;
}

.task {
  width: 100%;
  // background: #f53455;
  margin: 0;
  border-top: solid 1px #dddddd;
  border-bottom: solid 1px #dddddd;
  border-right: none;
  border-left: none;
  border-radius: 0;
  font-size: 18px;
  // list-style: none;
  word-wrap: break-word;
}

.sortable-ghost {
  background: #dddddd;
}

.example-animate-container {
  background: white;
  border: 1px solid black;
  list-style: none;
  margin: 0;
  padding: 0 10px;
}
.animate-repeat {
  line-height: 40px;
  list-style: none;
  box-sizing: border-box;
}
// .animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition: all linear 0.5s;
  transition:all linear 0.5s;
}

// .animate-repeat.ng-move,
.animate-repeat.ng-enter {
  max-height: 0;
}

.animate-repeat.ng-leave.ng-leave-active {
  opacity: 0;
  margin-left: 400px;
}

.animate-repeat.ng-leave,
// .animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity: 1;
  max-height:40px;
}


$task-margin-right: 32px;
$task-margin-left: 10px;

.task-head {
  width: $task-margin-left;
  float: left;
}

.task-header {
  width: $task-margin-right;
  height: 26px;
  // height: 100%;
  float: right;
  background: #523452;
  cursor: move;
}

.done-true {
  text-decoration: line-through;
}

.task-body {
  margin: 0 $task-margin-right 0 $task-margin-left;
  padding: 0 0 0 5px;
}

.task-check {
  float: right;
} 

#input-task {
  width: 75%;
}

#add-task {
  width: 20%;
  float: right;
}

#finish {
  position:fixed;
  bottom: 10px;
  left: 10px;
  width: 44px;
  height: 44px;
}
